.navbar .active {
        font-weight: bold;
    }
.gallery-container {
    cursor: pointer;
}
:required  {
    background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
    background-position:right top;
}